.topper {
  height: 70vh;
  width: 100%;
  box-shadow: rgba(252, 250, 250, 0.2) 0px 60px 40px -7px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 80px;
}

.d1 {
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.da,
.db {
  opacity: 70%;
  cursor: pointer;
  position: relative;

}

.da:hover,
.db:hover {
  opacity: 90%;
  font-size: 80;

}

.container {
  height: 150vh;
  width: 100%;
  background: linear-gradient(to bottom, #000066 -100%, #003300 123%);
  z-index: 11111;
  position: relative;
  margin-top: 0px;
}

.title {
  color: white;
  padding-top: 50px;
  align-items: center;
  text-align: center;
  font-size: 65px;
  font-weight: 700;
  opacity: 70%;
}

.senior {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.para {
  margin: 40px 50px 0 22px;
  font-style: italic;
  font-size: 25px;
  text-align: justify;
  margin-right: 50px;
}

.hr {

  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, #cac7c72b 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}